#root {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: rgb(207, 204, 204);
  border: solid 2px;
}

#root ul{
  text-align: left;
  margin: 0;
}

#root ul li {
  padding: 5px;
}


#more-films {
  background-color: rgb(178, 208, 233);
  padding: 10px;
  border: solid 2px;
}